
/**
*** START ctheme colors 
*/
.listview .form-item-advanced-biblio-publication-type .selectpicker > li.selected>a .check-mark,
.listview .form-item-advanced-biblio-publication-type .selectpicker > li > a:hover .check-mark{
  color: #645F9D !important;
}
#date-range-slider .ui-slider-handle,
#date-range-slider-dropdown .ui-slider-handle,
#sources-views-advanced-search-form #edit-submit{
  background-color: #645F9D !important;
}
/* END custom theme color */



#search-flyout.extruder.right.isOpened .extruder-content {
  border-right-width: 13px;
}

.page-sources-search .views-widget-sort-by,
.page-sources-search .views-widget-sort-order {
  display: none;
}

.input-section label.flyout-search-label{
  color:#444;
  font-size: 0.93em;
  position: absolute;
  left: 2.8rem;
  top: 1rem;
  font-weight: normal;
  letter-spacing:0.03rem;
  font-family: 'museo-sans-500',helvetica,arial,sans-serif;
}

.input-section label.flyout-search-label span{
  text-transform: uppercase;
  padding-right: 0.3rem;
  font-weight:bold;
}

.input-section .form-item-advanced-search-api-views-fulltext {
  margin-top: 0;
}

.input-group .shanticon-magnify{
  position: absolute;
  top: 3.85rem;
  left:2.5rem;
}

.content-section a.toggle-filter-btn-open {
  margin-top: 12px;
  font-size: 1.375em;
  background: #fff;
  padding: 15px 25px;
  display: none;
}

.view-section input.form-control{
  max-width: 40rem;
}

#date-range-slider,
#date-range-slider-dropdown {
  margin-top: 35px;
  height: 10px;
  border-radius: 0;

}

#date-range-slider {
  width: 275px;
  margin-left: 3px;
}

#date-range-slider-dropdown {
  width: 92%;
  position: relative;
  margin-left: 8px;
  background: none;
  border: none;
}

#date-range-slider-dropdown-container {
  background: url(../images/date_range_bg.png) no-repeat;
  background-size: 100%;
  height: 10px;
  max-width:350px;
  margin-top: 35px;
  position: relative;
  clear: both;
}

#date-range-slider .ui-slider-handle,
#date-range-slider-dropdown .ui-slider-handle {
  margin-top: 1px;
  background: none;
  border: none;
  width: 5px;
  height: 20px;
  margin-left: -0.1em;
  cursor: pointer;
  top: -9px;
  position: absolute;
  z-index: 2;
}

#date-range-slider .ui-slider-range .start-year,
#date-range-slider .ui-slider-range .end-year,
#date-range-slider-dropdown .ui-slider-range .start-year,
#date-range-slider-dropdown .ui-slider-range .end-year {
  position: absolute;
  display: inline-block;
  margin-top: -37px;
  background: url(../images/bubble-tip.png) no-repeat;
  background-position: bottom center;
  padding-bottom: 4px
}

#date-range-slider .ui-slider-range .start-year-inner,
#date-range-slider .ui-slider-range .end-year-inner,
#date-range-slider-dropdown .ui-slider-range .start-year-inner,
#date-range-slider-dropdown .ui-slider-range .end-year-inner {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 6px 12px;
  background: #333;
}

#date-range-slider .ui-slider-range .start-year,
#date-range-slider-dropdown  .ui-slider-range .start-year {
  left: 0;
  margin-left: -23px;

}

#date-range-slider .ui-slider-range .end-year,
#date-range-slider-dropdown .ui-slider-range .end-year {
  right: 0;
  margin-right: -24px;
}

#edit-advanced-search-publication-year .form-type-radio {
  display: inline-block;
  float: left;
  margin-bottom: 20px;
  min-width: 23%;
  height: 1.5rem;
}

#advanced-search-start-year,
#advanced-search-end-year {
  width: 35%;
  margin-right: 5px;
}

.publication-label-text {
  margin-right: 10px;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

#sources-views-advanced-search-form .form-item-advanced-search-start-year,
#sources-views-advanced-search-form .form-item-advanced-search-end-year {
  display: none;
}

#autocomplete ul,
#autocomplete ul li,
#autocomplete ul li a {
  background: #fff;
  width: 100%;
  display: block;
  color: #333;
}

#autocomplete li {
  white-space: normal;
  margin: 0;
}

#autocomplete p {
  margin: 0;
  width: 100%;
  display: block;
}

#autocomplete .result-item-type {
  font-weight: bold;
  text-decoration: none;
  padding: 10px 0 10px 35px;
}

#autocomplete span {
  padding: 3px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  display: block;
}

#autocomplete a {
  padding-left: 35px;
  text-transform: capitalize;
}

#autocomplete li.selected {
  background-color: #fff;
}

#autocomplete  span.result-item-type {
  cursor: auto;
}

#autocomplete li.selected span.result-item-type {
  background-color: #fff;
}

#autocomplete  span.result-item-type:hover {
  color: #333;
  text-decoration: none;
}

#autocomplete span:hover,
#autocomplete li.selected span {
  color: #333;
  background-color: #f1f1f1;
}

#autocomplete .result-item a {
  display: block;
  padding: 10px 5px;
}

#autocomplete {
  margin-top: 9px;
  background: #fff;
}

a.clear-search-text {
  position: absolute;
  margin-top: 15px;
  right: -19px;
  text-indent: -9999em;
  width: 12px;
  height: 12px;
}

a.open-search-field {
  text-indent: -9999em;
  width: 40px;
  height: 40px;
  display: block;
  float: right;
}

.views-field-biblio-place-published,
.views-field-biblio-abst-e,
.views-field-field-zotero-tags {
  display: none;
}

.sources-custom-search-form .form-type-select .holder {
  font-size: 0.813em;
}
.page-sources-search-biblio .views-label {
  float: left;
  margin-right: 5px;
  font-family: 'museo-sans-700',arial,sans-serif;
  letter-spacing: 0.057rem;
  font-size: 105%;
  position: relative;
  bottom: 0.2rem;
  font-weight: normal;
  font-style:normal;
}

.page-sources-search-biblio .views-field {
  margin: 10px 0;
}

.page-sources-search-biblio .views-field.views-field-biblio-authors .field-content{
  float: left;
  width: 100%;
}

.page-sources-search-biblio .views-field-biblio-year-1 {
    clear: both;
    padding-top: 1rem;
}

/* COinS Data: - controls the long url */
.page-sources-search-biblio .views-field-biblio-coins .field-content{
  word-break: break-all;
}

.page-sources-search-biblio .views-field-field-zotero-collections ul.list-inline{
  margin-left:14.2rem;
}

.page-sources-search-biblio .views-row .views-field:last-child{
  margin-left: 0;
  padding-bottom: 5rem;
}

.page-sources-search-biblio .views-row .views-field:last-child a{
  float:right;
}

#sources-views-advanced-search-form {
  border: none;
}

.selected-filter,
.advanced-search-filter-btn {
  padding: 0 20px;
}

.selected-filter {
  margin: 15px 0;
}

#edit-advanced-search-api-views-fulltext {
  border-radius: 25px;
}

#sources-views-advanced-search-form
#sources-views-advanced-search-form a {
  color: #158EA6;
}

#sources-views-advanced-search-form a.advanced-search-filter-btn {
  display: block;
  text-align: right;
  margin-bottom: 15px;
  text-decoration: none;
}

#sources-views-advanced-search-form #edit-advanced-option {
  padding: 5px 10px;
}

#edit-advanced-option input.form-autocomplete {
  background-image: none;
}

#edit-advanced-option .bootstrap-select {
  background: none;
  border: none;
  box-shadow: none;
}

#sources-views-advanced-search-form #edit-submit {
  margin: 1rem 0 1rem 2rem;
  width: 45%;
  max-width: 90px;
  display: inline-block;
  float: left;
  font-weight: bold;
  filter: alpha(opacity=90);
  opacity: 0.9;
}

#sources-views-advanced-search-form #edit-submit:hover{
  filter: alpha(opacity=100);
  opacity: 1;
}

#sources-views-advanced-search-form .form-submit {
  width: 45%;
  float: left;  
  display: inline-block;
  margin: 10px 0;
}

#sources-views-advanced-search-form .form-item.form-item-title {
  margin-top: 2rem;
}

#sources-views-advanced-search-form .radio-inline {
  min-width: 0;
  width: auto;
}

.view-filters.filter-content-right .autocomplete-search-result-container {
  width: 295px;
  margin-left: 0;
}

.form-item.form-item-view-mode {
  display: none;
}

.form-item.form-type-select.form-item-condition-option {
  margin: 0;
}

.view-section .nav-tabs > li {
  width: 48%;
}


.searchreset {
  display: none;
}

.input-section .input-group-btn .searchreset {
  /*outline: none;
  border: 1px solid #e5e5e5;
  border-width: 0 0 0 1px;*/
}

.input-section .input-group input.form-control{ /* this is temp setup for the resize button - .ui-resizable-handle.ui-resizable-w*/
  margin-top:2.8rem;
}

.input-section .input-group .input-group-btn{
  position: absolute;
  top:2.9rem;
}

.input-section .input-group .btn.btn-default{
  border: 1px solid #e5e5e5;
  border-width: 0 0 0 1px;
}

.input-section .input-group .btn.btn-default .icon::before{
 top: -0.9rem;
  right: 0.5rem;
  font-size: 1.5rem;
}

.input-section .input-group .btn-default.active,
.input-section .input-group .btn.btn-default:active{
  border-color:#fff;
}


/* new additions - mf8yk 12-21-15 */

.input-section .search-group{
  height: 4rem;
}

.input-section .selected-filter{
  margin-bottom:0.75rem;
  margin-left: 2rem;
  font-size: 0.88em !important;
}

.view-section .nav-tabs > li.listview{
  width: 52%;
  max-width: 16rem;
}

.listview .form-item.form-item-advanced-search-publication-year{
  margin-top: .8rem;
  margin-bottom: 0em;
  max-width: 44rem;
}

.listview label{
  display: none;
  line-height: 20px;
}

.listview .fieldset-wrapper > span:nth-of-type(-n+2),
.listview .fieldset-wrapper .form-item:first-of-type{
  display:none;
} 

.listview .form-item-advanced-biblio-publication-type{
  margin-top: -0.3rem;
  margin-bottom:0;
}

.listview .form-item-advanced-biblio-publication-type .bootstrap-select.btn-group:not(.input-group-btn){
  margin-bottom: 0;
  margin-top: 0.2rem;
}

.listview .form-item-advanced-biblio-publication-type label{
  display:block;
}

.listview .form-item-advanced-search-publication-year label{
  display: inline;
}










.listview .form-item-advanced-biblio-publication-type .dropdown-menu > ul > li a:before {
    display: none;
}

.listview .form-item-advanced-biblio-publication-type .dropdown-menu > ul > li > a {
  /*line-height: 1.62em;
  height: 1.62em;*/
  padding-top: 0.5rem;
}

.listview .form-item-advanced-biblio-publication-type .dropdown-menu ul > li > span.text{
  font-size:0.88em;
}

.listview .form-item-advanced-biblio-publication-type .selectpicker > li > a{
  padding-left: 1.7rem;
}

.listview .form-item-advanced-biblio-publication-type .selectpicker > li:first-child{
  /*border-bottom: 1px solid #ccc;
  margin-bottom: .5rem;*/
}

.listview .form-item-advanced-biblio-publication-type .selectpicker > li:first-child > a{
  /*padding: 0rem 0 0 2rem;
  letter-spacing: .05rem;
  height: 2.5rem;
  cursor:default;*/
  display:none;
}

.listview .form-item-advanced-biblio-publication-type .selectpicker > li:first-child > a .text{
  /*font-weight:bold;
  color:#777 !important;*/
}

.listview .form-item-advanced-biblio-publication-type .selectpicker > li > a .check-mark{
  float: right;
  position:relative;
  top:.55rem;
  color:#ccc;
}

.listview .form-item-advanced-biblio-publication-type .dropdown-menu > ul li i.check-mark{
  display:inline-block;
  margin-top: -4px;
}

.listview .form-item-advanced-biblio-publication-type .dropdown-menu > ul li:first-child i.check-mark{
  display:none;
}





.breadcrumb-child-container .breadcrumb-child-sub-top{
  background: #999;
}
.breadcrumb-child-container .breadcrumb-child-sub-top:hover{
  background: #777;
}
.breadcrumb-child-container .breadcrumb-child-sub-top:hover{
  background: #888;
}

.breadcrumb-child-container .breadcrumb-child-sub-top .fancytree-title{
  line-height: 1.32em;
  padding-left: 0.4rem;
}
.breadcrumb-child-container .breadcrumb-child-sub-top:hover .fancytree-title{
  color:#fff;
}

.breadcrumb-child-container .breadcrumb-child-sub-top .fancytree-title a,
.breadcrumb-child-container .breadcrumb-child-sub-top:hover .fancytree-title,
#block-sources-views-custom-taxonomy-breadcrumb .breadcrumb-child-sub-top .fancytree-node:hover{
  background-color: #888 !important;
  border-color: #888 !important;
}

.breadcrumb-child-container .breadcrumb-child-sub-top .fancytree-title a{
  color:#fff;
  font-size:1.06em;
  font-family: 'Helvetica Neue',helvetica,arial,sans-serif;
  letter-spacing:0.03rem;
  background-color: transparent !important;
  border-color: transparent !important;
}

.breadcrumb-child-container .fancytree-node{
  padding-left: 5px;
}

.breadcrumb-child-container .breadcrumb-child-sub-top .glyphicon{
  position: relative;
  top: -0.1rem;
  left: .25rem;
  color: #fff !important;
}

.breadcrumb-child-container .breadcrumb-child-sub-top:hover .glyphicon{
  color: #fff !important;
}

.breadcrumb-child-container .library-dropdown .inner-library, 
.breadcrumb-child-container .inner-breadcrumb-child-container .breadcrumb-child{
  max-height: 450px;
  overflow-y: scroll;
}

.breadcrumb-child-container .breadcrumb-child ul{
  margin-left:0;
}









/**
* search scrollbars full-length
*/
.extruder .text.ui-resizable{ overflow-y: visible !important; }

.view-section .tab-content .tab-pane{ overflow-y: scroll !important;}
.taxonomy-list-tree .ui-fancytree,
.view-section .tab-content .tab-pane > div{ overflow-y: visible !important; }

.view-section ul.fancytree-container::-webkit-scrollbar,
.taxonomy-list-tree .ui-fancytree::-webkit-scrollbar,
.view-section .tab-content .tab-pane > div::-webkit-scrollbar{
  width:0;
}


.view-section .tab-content .tab-pane::-webkit-scrollbar,
.breadcrumb-child-container .inner-breadcrumb-child-container .breadcrumb-child::-webkit-scrollbar{
  width: 0.6rem;
}
.view-section .tab-content .tab-pane::-webkit-scrollbar-track,
.breadcrumb-child-container .inner-breadcrumb-child-container .breadcrumb-child::-webkit-scrollbar-track{
  border-radius: 0.6rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}
.view-section .tab-content .tab-pane::-webkit-scrollbar-thumb,
.breadcrumb-child-container .inner-breadcrumb-child-container .breadcrumb-child::-webkit-scrollbar-thumb{
  background-color: #e5e5e5;
  border-radius: 0.6rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
.view-section .tab-content .tab-pane:hover::-webkit-scrollbar-thumb,
.breadcrumb-child-container .inner-breadcrumb-child-container .breadcrumb-child:hover::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}






.listview .form-item{
  margin-bottom: 1rem;
}

/*
.listview .fieldset-wrapper .form-item:nth-of-type(2){
  margin-top:0;
}
*/

.view-section .tab-content{
  border: 1px solid #ddd;
  border-width: 0 1px 0;
}



/*** hiding search buttons 
button#edit-submit.btn.btn-primary.form-submit,
button#edit-clear.btn.btn-primary.form-submit{
  display:none !important;
}
***/

#sources-views-advanced-search-form button.btn.btn-primary.form-submit{
  padding: .35em 1em .25em !important;
  font-size: 0.88em !important;
  width:35% !important;
}

#sources-views-advanced-search-form button#edit-clear{
  background: transparent;
  color: #555;
  box-shadow: none;
  float:left;
}

#sources-views-advanced-search-form button#edit-clear:hover,
#sources-views-advanced-search-form button#edit-clear:active{
  background: transparent;
  color:red !important;
}

#sources-views-advanced-search-form button#edit-clear::after{
  content:'X';
  position:relative;
  color:#555;
  margin-left: 0.4rem;
}

#sources-views-advanced-search-form button#edit-clear:hover::after{
  color:red;
}

#sources-views-advanced-search-form button#edit-clear span{
    text-transform:capitalize;
}


/*
#block-sources-views-custom-sort-filter .content .right-side{
  float:left;
}
*/








.main-content .fancytree-has-children > .fancytree-title{
  margin-left: -0.6rem;
}

.taxonomy-list-tree .ui-fancytree {
  border: none;
  background: none;
}




.custom-pager .custom-pager-right{
  /*border-left: none;*/
}


